<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.elegantchaos.helper.helper</string>
	<key>ServiceIPC</key>
	<true/>
	<key>OnDemand</key>
	<true/>
	<key>Listeners</key>
	<dict>
		<key>SockFamily</key>
		<string>Unix</string>
		<key>SockPathName</key>
		<string>/var/tmp/com.elegantchaos.helper.helper</string>
		<key>SockPathMode</key>
		<string>438</string>
		<key>SockType</key>
		<string>Stream</string>
	</dict>
</dict>
</plist>
