<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>${HELPER_ID}</string>
	<key>Sockets</key>
	<dict>
		<key>${HELPER_ID}</key>
		<dict>
			<key>SockFamily</key>
			<string>Unix</string>
			<key>SockPathName</key>
			<string>/var/tmp/${HELPER_ID}</string>
			<key>SockPathMode</key>
			<integer>438</integer>
			<key>SockType</key>
			<string>Stream</string>
		</dict>
	</dict>
</dict>
</plist>
